.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffc2a0;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 20px;
}
.head {
  font-size: 30px;
  color: #ff8542;
}

@media (orientation:portrait){

  .list{
     padding-left: 0px;
  }

  
}
